@model AddCarFormModel

@{
    ViewData["Title"] = "Add Car ";
}

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <div> <span asp-validation-for="Manifacture" class="text-danger"></span></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Manifacture">Manifacture</label>
            <input asp-for="Manifacture" class="form-control" id="Manifacture" placeholder="Manifacture">
        </div>
        <div class="form-group col-md-6">
            <div> <span asp-validation-for="Model" class="text-danger"></span></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Model">Model</label>
            <input asp-for="Model" class="form-control" id="Model" placeholder="Model">
        </div>
    </div>
    <div class="form-group">
        <div> <span asp-validation-for="Vin" class="text-danger"></span></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Vin">Vin Number</label>
        <input asp-for="Vin" class="form-control" id="Vin">
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <div> <span asp-validation-for="Color" class="text-danger"></span></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Color">Color</label>
            <input asp-for="Color" class="form-control" id="Color">
        </div>
        <div class="form-group col-md-2">
            <div> <span asp-validation-for="Year" class="text-danger"></span></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Year">Year</label>
            <input asp-for="Year" class="form-control" id="Year">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>