@model IEnumerable<OfferViewModel>

@{
    ViewData["Title"] = "Car offers";
}
<div class="button-holder">
                            <a href="/Cars/MyCars" class="btn btn-info text-uppercase">Back to My Cars</a>
                        </div>
<section class="py-2">
    <div class="container">
        <div style="padding: 0px;">
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap pace-progress-color-blue">
                    <thead class="sidebar-dark-gray">
                        <tr>
                            <th>SubmitionDate</th>
                            <th>Price</th>
                            <th>Information</th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var offer in Model)
                    {
                        <tbody>
                            <tr>
                                <td scope="row">@offer.SubmitionDate</td>
                                <td>@offer.TotalPrice</td>
                                <td>@offer.AdditionalInfo</td>                                
                                <td>
                                    <div class="button-holder">
                                        <a href="/Cars/Services?offerId=@offer.Id" class="btn btn-info text-uppercase">Service</a>
                                    </div>
                                </td>                               
                            </tr>

                        </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</section>